/* Clock */

body {
    background-color: lightgrey;
  }
  
  h1 {
    text-align: center;
    margin-left: 10px;
    margin-top: 260px;
    font-family: 'Pacifico', cursive;
    color: white;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  }
  
  .container {
    position: absolute;
    width: 230px;
    height: 265px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  
  .clock {
    position: absolute;
    width: 205px;
    height: 250px;
    top: 10px;
    left: 10px;
    animation: animate-clock 5s linear infinite;
  }
  
  
  
  /* Clock Body */
  
  .clock-body, .clock-body:before {
    position: absolute;
    width: 160px;
    height: 160px;
    border-radius: 50%;
  }
  
  .clock-body {
    border: 20px solid #4a9abd;
    overflow: hidden;
    background-color: white;
    left: 4px;
    top: 35px;
  }
  
  .clock-body:before {
    content: '';
    border: 20px solid #dcdbd3;
    left: -17px;
    top: -17px;
  }
  
  
  
  /* Clock Hands */
  
  .clock-hands:before, .clock-hands:after {
    position: absolute;
    content: '';
    background-color: black;
    border-radius: 0px 0px 10px 10px;
    transform-origin: top;
    transform: rotate(180deg) translate(0, 5px);
    top: 5px;
  }
  
  .clock-hands {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fe504d;
    border-radius: 50%;
    border: 3px solid black;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
  }
  
  .clock-hands:before {
    width: 8px;
    height: 56px;
    left: 1px;
    animation: animate-clock-hand-long 5s linear infinite;
  }
  
  .clock-hands:after {
    width: 10px;
    height: 45px;
    animation: animate-clock-hand-short 1000s linear infinite;
  }
  
  
  
  /* Clock Legs */
  
  .clock .clock-leg:nth-child(1) {
    transform: rotate(-30deg);
  }
  
  .clock .clock-leg:nth-child(2) {
    transform: rotate(30deg) translate(92px, -54px);
  }
  
  .clock-leg {
    position: absolute;
    height: 100px;
    width: 10px;
    background-color: black;
    left: 45px;
    border-radius: 10px;
  }
  
  .clock-leg:before {
    position: absolute;
    content: '';
    height: 175px;
    width: 14px;
    background-color: black;
    top: 100px;
    left: -2px;
    border-radius: 10px;
  }
  
  .bell {
    position: absolute;
    width: 90px;
    height: 40px;
    background-color: #4f98b8;
    left: -40px;
    top: 7px;
    border-radius: 40px 40px 0 0;
    overflow: hidden;
    animation: animate-clock-bell 5s linear infinite;
  }
  
  .bell:before {
    position: absolute;
    content: '';
    width: 90px;
    height: 40px;
    background-color: #53a1c5;
    right: 15px;
    top: 0px;
    border-radius: 40px 40px 0 0;
  }
  
  @keyframes animate-clock-hand-long {
    0% { transform: rotate(180deg) translate(0, 5px); }
    60% { transform: rotate(540deg) translate(0, 5px); }
    100% { transform: rotate(540deg) translate(0, 5px); }
  }
  
  @keyframes animate-clock-hand-short {
    0% { transform: rotate(-100deg) translate(0, 5px); }
    100% { transform: rotate(260deg) translate(0, 5px); }
  }
  
  @keyframes animate-clock-bell {
    0% { transform: translate(0, 0); }
    60% { transform: translate(0, 0); }
    61% { transform: translate(-3px, -2px); }
    62% { transform: translate(3px, 2px); }
    63% { transform: translate(-3px, -2px); }
    64% { transform: translate(3px, 2px); }
    65% { transform: translate(-3px, -2px); }
    66% { transform: translate(3px, 2px); }
    67% { transform: translate(-3px, -2px); }
    68% { transform: translate(3px, 2px); }
    69% { transform: translate(-3px, -2px); }
    70% { transform: translate(3px, 2px); }
    71% { transform: translate(-3px, -2px); }
    72% { transform: translate(3px, 2px); }
    73% { transform: translate(-3px, -2px); }
    74% { transform: translate(3px, 2px); }
    75% { transform: translate(-3px, -2px); }
    76% { transform: translate(3px, 2px); }
    77% { transform: translate(-3px, -2px); }
    78% { transform: translate(3px, 2px); }
    79% { transform: translate(-3px, -2px); }
    70% { transform: translate(3px, 2px); }
    71% { transform: translate(-3px, -2px); }
    72% { transform: translate(3px, 2px); }
    73% { transform: translate(-3x, -2px); }
    74% { transform: translate(3px, 2px); }
    75% { transform: translate(-3px, -2px); }
    76% { transform: translate(3px, 2px); }
    77% { transform: translate(-3px, -2px); }
    78% { transform: translate(3px, 2px); }
    79% { transform: translate(-3px, -2px); }
    80% { transform: translate(3px, 2px); }
    81% { transform: translate(-3px, -2px); }
    82% { transform: translate(3px, 2px); }
    83% { transform: translate(-3px, -2px); }
    84% { transform: translate(3px, 2px); }
    85% { transform: translate(-3px, -2px); }
    86% { transform: translate(3px, 2px); }
    87% { transform: translate(-3px, -2px); }
    88% { transform: translate(3px, 2px); }
    89% { transform: translate(-3px, -2px); }
    90% { transform: translate(3px, 2px); }
    91% { transform: translate(-3px, -2px); }
    92% { transform: translate(3px, 2px); }
    93% { transform: translate(-3px, -2px); }
    94% { transform: translate(3px, 2px); }
    95% { transform: translate(-3px, -2px); }
    96% { transform: translate(3px, 2px); }
    97% { transform: translate(-3px, -2px); }
    98% { transform: translate(3px, 2px); }
    99% { transform: translate(-3px, -2px); }
    100% { transform: translate(3px, 2px); }
  }
  
  @keyframes animate-clock {
    0% { transform: rotate(0) translate(0, -5px); }
    60% { transform: rotate(0) translate(0, -5px); }
    61% { transform: rotate(-10deg); }
    62% { transform: rotate(0) translate(0, -5px); }
    63% { transform: rotate(10deg) translate(0, 0); }
    64% { transform: rotate(0) translate(0, -5px); }
    65% { transform: rotate(-10deg); }
    66% { transform: rotate(0) translate(0, -5px); }
    67% { transform: rotate(10deg); }
    68% { transform: rotate(0) translate(0, -5px); }
    69% { transform: rotate(-10deg); }
    70% { transform: rotate(0) translate(0, -5px); }
    71% { transform: rotate(10deg) translate(0, 0); }
    72% { transform: rotate(0) translate(0, -5px); }
    73% { transform: rotate(-10deg); }
    74% { transform: rotate(0) translate(0, -5px); }
    75% { transform: rotate(10deg); }
    76% { transform: rotate(0) translate(0, -5px); }
    77% { transform: rotate(-10deg); }
    78% { transform: rotate(0) translate(0, -5px); }
    79% { transform: rotate(10deg); }
    80% { transform: rotate(0) translate(0, -5px); }
    81% { transform: rotate(-10deg); }
    82% { transform: rotate(0) translate(0, -5px); }
    83% { transform: rotate(10deg) translate(0, 0); }
    84% { transform: rotate(0) translate(0, -5px); }
    85% { transform: rotate(-10deg); }
    86% { transform: rotate(0) translate(0, -5px); }
    87% { transform: rotate(10deg); }
    88% { transform: rotate(0) translate(0, -5px); }
    89% { transform: rotate(-10deg); }
    90% { transform: rotate(0) translate(0, -5px); }
    91% { transform: rotate(10deg) translate(0, 0); }
    92% { transform: rotate(0) translate(0, -5px); }
    93% { transform: rotate(-10deg); }
    94% { transform: rotate(0) translate(0, -5px); }
    95% { transform: rotate(10deg); }
    96% { transform: rotate(0) translate(0, -5px); }
    97% { transform: rotate(-10deg); }
    98% { transform: rotate(0) translate(0, -5px); }
    99% { transform: rotate(10deg); }
    100% { transform: rotate(0) translate(0, -5px); }
  }